@charset "utf-8";

html, body{
    font-size: 16px;
    font-family: sans-serif;
    color: #393939;
    background-color: #efefef;
}

body,div,p,h1,h3,h3,h4,ul,figure{
    margin: 0;
    padding: 0;
}
p,td,th,li{
    line-height: 1.8;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: #709a00;
}
a:hover{
    color: #95cd00;
}
a:active{
    color: #4b6700;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
main h1{
    margin-bottom: 1rem;
    border-bottom: 1px dashed #c84040;
    font-weight: normal;
    font-size: 1.6rem;
}

.container{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
}
@media screen and (min-width:768px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* =================ヘッダー================= */

header{
    background-color: #c84040;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    padding: 10px 0;
    width: 160px;
    height: 37px;
}


.menu-btn{
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    width:  40px;
    height: 40px;
    background: url(../img/hamburger.png) no-repeat center center;
    background-size: contain;
}


@media screen and (min-width:768px){

    .header-logo{
        padding: 20px 0;
        width: 200px;
        height: 37px;
    }
    
    
    .menu-btn{
        display: none;
    }
}




nav{
    background-color: #393939;
}
.navbar{
    display: none;
    list-style: none;
}

.navbar a{
    display: block;
    padding: 0.6rem 0;
    color: #fff;
    text-decoration: none;
}


.navbar a:hover{
    background-color: #c84040;
}

@media screen and (min-width:768px){
    .navbar{
        display: flex!important;
    }
    .navbar li{
        flex: 1 1 auto;
        text-align: center;
    }
    .navbar a.nav-current{
        background-color: #c84040;
    }
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #efefef;
}

@media screen and (min-width:768px){
    main{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}



.home-maincopy{
    text-align: center;
    font-size: 1.4rem;
}
.home-maincopy strong{
    color: #c84040;
}
@media screen and (min-width:768px){
    .home-maincopy{
        font-size: 2.4rem;
    }
}

.home-color1{
    color: #f8b173;
}

.home-color2{
    color: #74b9b9;
}

.home-color1{
    color: #8bca85;
}

.home-color1{
    color: #f8817e;
}

.home-h2{
    padding-bottom: 5px;
    margin: 30px 0 10px 0;
    color: #c84040;
    border-bottom: 1px dashed #c84040;
    font-size: 1.3rem;
}
.home-corse{
    display: flex;
    flex-flow: column;
}
.home-corse li{
    flex:1 1 auto;
    margin: 0 2px 4px 2px;
    border: solid 5px #fff;
    list-style-type: none;
    background-color: #fff;
}

@media screen and (min-width:768px){
    .home-corse{
        flex-flow:row;
    }
}


.home-corse a{
    color: #393939;
    text-decoration: none;
}
.home-corse figure:hover{
    opacity: 0.5;
}

.home-corse figcaption{
    padding:15px 0;
    font-size: 0.9rem;
    font-size: bold;
    text-align: center;
}

footer{
    background-color: #c84040;
    font-size: 0.9rem;
    color: #fff;
}

.footer-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-nav{
    list-style-type: none;
}
.footer-nav li{
    display: inline;
    padding: 0 1rem 0 0;
}
.footer-nav a{
    color: #fff;
    text-decoration: none;
}
.footer-nav a:hover{
    opacity: 0.5;
}