body{
    font-family: ;
}

.header{
    width: 1680px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin:0 auto 50px;
}

.header-menu{
    display: flex;
}
.header-menu li{
    margin: 0 10px;
}
.header-menu a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nri-logo img{
    width: 58px;
    height: 29.22px;
}
.header-icon{
    display: flex;
}
.nav-hamburger{
    width: 10px;
    height: 10px;
    background-color: black;
}

.bread-list{
    display: flex;
    list-style: none;
    width: 70%;
    margin: 0 auto;
}


.bread-list li{
    color: rgb(141, 141, 141);
    display: flex;
    align-items: center;
    font-size:12px;
}

.NRI-top::after{
    display: block;
    content: ">";
    margin: 0 5px;
}
.Company-information::after{
    display: block;
    content: ">";
    margin: 0 5px;
}
.fv{
    position: relative;
}
.fv-txt{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.fv-txt p{
    margin-bottom: 15px;
}
.fv-txt h1{
    font-size: 24px;
}

.fv-img img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.main-contents{
    width: 60%;
    margin: 0 auto;
}

.sns-icon{
    width: 60%;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sns-icon p{
    margin: 0 20px;
}

.sns-icon img{
    width: 20px;
    height: 20px;
}

.main-contents-top{
    display: block;

}
.box{

}
.box p{
    line-height:30px;

}

.btn{
    display: block;
    width: 150px;
    height: 50px;
    background-color: aqua;
    margin-bottom: 100px;
    margin: 0 auto 100px;
}
button::before{
    display: block;
    content: ">";
}
.page-link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
    background-color: aqua;
}
.page-link #page-link-1::before{
    content: "<";
}

.page-link #page-link-2::before{
    content: ">";
}