body{
    font-family: ;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-menu{
    display: flex;
}
.header-menu a{
    text-decoration: none;
    color: black;
}
.header-icon{
    display: flex;
}
.nav-hamburger{
    width: 10px;
    height: 10px;
    background-color: black;
}