body {
font-family: Noto Sans;
width: 100%;
}
.wrap {
text-align: center;
width: 100%;
max-width: 1280px;
margin: 0 auto;
background-color: #FCFCFC;
}
.sp {
display: none;
}
/* header-start */
.header {
width: 100%;
}
.header-nav {
display: flex;
align-items: center;
margin: 0 auto;
padding: 11px 0 11px 88px;
color: #918F89;
}
.header-menu {
margin-left: 705px;
display: flex;
justify-content: space-between;
}
.header-menu a {
color: #3B3B3B;
text-decoration: none;
}
.header-menu a:hover {
text-decoration: underline;
}
.news {
margin-left: 105px;
}
.qa {
margin-left: 110px;
}
/* header-end */
/* コンテンツ部分stert */
.fv {
width: 1280px;
margin: 0 auto 69px;
position: relative;
}
.fv-img img {
width: 100%;
}
.fv h1 {
position: absolute;
top: 45%;
left: 20%;
font-size: 22px;
text-align: left;
color: #FFFFFF;
opacity: 1;
}
.main-contents {
margin-bottom: 100px;
}
.sub-title {
font-size: 21px;
font-weight: bold;
color: #3B3B3B;
margin-bottom: 24px;
}
.style {
margin-bottom: 246px;
}
.faq-list {
margin: 0 auto;
padding: 0;
list-style: none;
}
/*アコーディオン追加 */
.faq-list-item {
width: 360px;
height: 60px;
margin: 0 auto;
position: relative;
cursor: pointer;
text-align: left;
}
.faq-list-item-box {
display: flex;
justify-content: space-between;
}
.faq-list-item h3 {
font-size: 14px;
margin-bottom: 0;
color: #3B3B3B;
}
.faq-list-item-box img {
width: 12px;
}
.action {
transform: rotateZ(180deg);
transition: 0.5s;
}
.answer {
font-size: 12px;
display: none;
padding: 5px 0px;
color: #3B3B3B;
}
/* コンテンツ部分end */
/* footer-start */
.footer {
background-color: #918F89;
color: rgb(255, 255, 255);
height: 300px;
}
.footer-nav {
width: 834px;
padding: 116px 0 108px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: flex-end;
font-size: 22px;
}
.footer-menu {
display: flex;
}
.footer-menu li {
padding: 0 25px;
font-size: 18px;
}
.copy-right {
color: rgb(255, 255, 255);
font-size: 10px;
}
/* footer-end */
@media screen and (min-width:641px) and (max-width:1279px) {
.wrap {
max-width: 1279px;
}
/* header-start */
.header {
width: 80%;
margin: 0 auto;
}
.header-nav {
justify-content: space-between;
padding: 1% 5%;
}
.header-menu {
width: 50%;
margin-left: 0;
}
.news {
margin-left: 0;
}
.qa {
margin-left: 0;
}
/* header-end */
/* コンテンツ部分stert */
.fv {
width: 100%;
margin: 0 0 10% 0;
height: auto;
}
.fv-txt {
top: 34%;
width: 50%;
height: 18%;
}
.fv h1 {
font-size: 40px;
letter-spacing: 0;
padding-top: 7%;
padding-left: 16%;
}
.main-contents {
margin-bottom: 0;
}
.sub-title {
margin-bottom: 5%;
letter-spacing: 1px;
}
.style {
margin-bottom: 5%;
}
/* コンテンツ部分end */
/* footer-start */
.footer {
height: 10%;
}
.footer-nav {
width: 90%;
max-width: 834px;
padding: 5% 0;
}
.copy-right {
font-size: 5px;
}
/* footer-end */
}
@media screen and (max-width: 640px) {
.wrap {
max-width: 640px;
}
.pc {
display: none;
}
.sp {
display: block;
}
/* header-start */
.header-sp {
width: 100%;
}
.header-sp h2 {
padding: 5px 0;
margin: 0 auto;
color: white;
background-color: #707070;
position: relative;
z-index: 2;
}
.header-nav {
display: block;
margin: 0;
padding: 0;
}
.header-menu a {
color: #3B3B3B;
text-decoration: none;
font-size: 20px;
}
.header-menu {
margin: 0;
position: absolute;
z-index: 1;
opacity: 0.9;
background: #fff;
color: rgb(255, 255, 255);
text-align: center;
transform: translateY(-100%);
transition: all 0.6s;
width: 100%;
}
.header-menu ul {
background: #918F89;
margin: 0 auto;
padding: 0;
width: 100%;
}
.header-menu ul li {
font-size: 1.1em;
list-style-type: none;
padding: 0;
width: 100%;
border-bottom: 1px dotted rgb(187, 187, 187);
}
.header-menu a {
display: block;
color: rgb(255, 255, 255);
padding: 1em 0;
}
/* このクラスを、jQueryで付与・削除する */
.header-menu.active {
transform: translateY(0%);
}
.navToggle {
display: block;
position: absolute;
/* headerに対しての絶対位置指定 */
right: 13px;
top: 0;
width: 42px;
height: 51px;
cursor: pointer;
z-index: 3;
}
.navToggle span {
display: block;
position: absolute;
/* .navToggleに対して */
width: 30px;
border-bottom: solid 3px #eee;
-webkit-transition: .35s ease-in-out;
-moz-transition: .35s ease-in-out;
transition: .35s ease-in-out;
left: 6px;
}
.navToggle span:nth-child(1) {
top: 9px;
}
.navToggle span:nth-child(2) {
top: 18px;
}
.navToggle span:nth-child(3) {
top: 27px;
}
.navToggle span:nth-child(4) {
border: none;
color: #eee;
font-size: 9px;
font-weight: bold;
top: 34px;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
top: 18px;
left: 6px;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
transform: rotate(-45deg);
}
/* 2番目と*/
.navToggle.active span:nth-child(2) {
left: 50%;
opacity: 0;
-webkit-animation: .8s forwards;
animation: .8s forwards;
}
/*3番目のspanを45度に */
.navToggle.active span:nth-child(3) {
top: 18px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);
}
.news {
margin-left: 0;
}
.qa {
margin-left: 0;
}
/* header-end */
/* コンテンツ部分stert */
.fv {
max-width: 100%;
height: auto;
margin: 0 0 20% 0;
position: relative;
}
.fv h1 {
position: absolute;
top: 24%;
left: 50%;
transform: translateY(-50%) translateX(-50%);
margin: auto;
color: #FFFFFF;
opacity: 1;
font-size: 30px;
letter-spacing: 0;
padding: 0;
}
.main-contents {
margin-bottom: 0;
}
.main-description {
display: block;
align-items: center;
margin-bottom: 20%;
}
.main-description-text {
margin-left: 0;
margin-bottom: 3%;
padding-top: 0;
line-height: 1;
}
.main-description-text p {
line-height: 2;
text-align: center;
}
.sub-title {
margin-bottom: 15%;
text-align: center;
letter-spacing: 0;
}
.style {
margin-bottom: 25%;
}
.style img {
max-width: 95%;
height: auto;
}
.faq-list-item {
width: 90%;
}
/* コンテンツ部分end */
/* footer-start */
.footer {
height: 5%;
}
.footer-nav {
width: 100px;
padding: 50px 0;
display: block;
font-size: 12px;
}
.footer-menu {
display: none;
}
}