body {
font-family: Noto Sans;
width: 100%;
}
.wrap {
text-align: center;
width: 100%;
max-width: 1280px;
margin: 0 auto;
background-color: #FCFCFC;
}
.sp {
display: none;
}
/* 部品＝＝＝＝＝＝＝＝＝＝ */
.mb7 {
margin-bottom: 7%;
}
.mb8 {
margin-bottom: 8%;
}
/* 部品end＝＝＝＝＝＝＝＝＝＝ */
/* header-start */
.header {
width: 100%;
}
.header-nav {
display: flex;
align-items: center;
margin: 0 auto;
padding: 11px 0 11px 88px;
color: #918F89;
}
.header-menu {
margin-left: 705px;
display: flex;
justify-content: space-between;
}
.news {
margin-left: 105px;
}
.qa {
margin-left: 110px;
}
/* header-end */
/* コンテンツ部分stert */
.fv {
width: 1280px;
height: 741px;
margin: 0 auto 142px;
position: relative;
}
.fv-img img {
width: 100%;
}
.fv-txt {
position: absolute;
top: 260px;
background-color: #FFFFFF;
opacity: 0.8;
width: 702px;
height: 136px;
}
.fv h1 {
font-size: 60px;
text-align: left;
letter-spacing: 3px;
color: #918F89;
opacity: 1;
padding-top: 31px;
padding-left: 88px;
}
.main-contents {
margin-bottom: 100px;
}
.main-description {
display: flex;
align-items: center;
margin-bottom: 200px;
}
.description-img {
margin-left: 88px;
}
.description-img img {
width: 544px;
height: 500px;
}
.main-description-text {
text-align: left;
margin-left: 70px;
padding-top: 86px;
line-height: 2.3;
color: #3B3B3B;
opacity: 1;
font-size: 12px;
}
.sub-title {
font-size: 25px;
letter-spacing: 2.5px;
color: rgb(73, 70, 70);
}
.style {
margin-bottom: 246px;
}
.style img {
width: 964px;
height: 503px;
}
.news-area {
width: 1102px;
margin: 0 auto 221px;
}
.news-txt-1 {
font-size: 25px;
margin-bottom: 50px;
color: #3B3B3B;
}
.news-txt-2 {
font-size: 21px;
letter-spacing: 1.05px;
color: #3B3B3B;
}
.news-img {
display: flex;
justify-content: space-between;
margin-bottom: 39px;
}
.news-img img {
width: 334px;
height: 387px;
}
/* コンテンツ部分end */
/* お問い合わせフォームstart */
.form p {
margin-bottom: 10px;
}
.form input {
width: 500px;
border: 0.5px solid #707070;
border-radius: 11px;
opacity: 0.6;
width: 463px;
height: 35px;
}
.form input::placeholder {
padding-left: 10px;
color: #3B3B3B;
opacity: 0.4;
}
.form textarea {
width: 463px;
height: 156px;
border: 0.5px solid #707070;
border-radius: 11px;
opacity: 0.6;
resize: none;
}
.form textarea::placeholder {
padding: 8px 10px 8px;
color: #3B3B3B;
opacity: 0.4;
}
.btn {
color: rgb(255, 255, 255);
background-color: rgb(73, 73, 73);
width: 111px;
height: 35px;
background: #707070 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 25px;
border: none;
}
/* お問い合わせフォームend */
/* footer-start */
.footer {
background-color:#918F89;
color: rgb(255, 255, 255);
height: 284px;
}
.footer-nav{
width: 834px;
padding:116px 0 108px;
margin:auto;
display: flex;
justify-content: space-between;
align-items: flex-end;
font-size:22px;
}
.footer-menu{
display: flex;
}
.footer-menu li{
padding:0 25px;
font-size: 18px;
}
.copy-right{
color:rgb(255, 255, 255);
font-size: 10px;
}
/* footer-end */
@media screen and (min-width:641px) and ( max-width:1279px){
.wrap {
max-width: 1279px;
}
/* header-start */
.header {
width: 80%;
margin: 0 auto;
}
.header-nav {
justify-content: space-between;
padding:1% 5%;
}
.header-menu {
width: 50%;
margin-left: 0;
}
.news {
margin-left: 0;
}
.qa {
margin-left: 0;
}
/* header-end */
/* コンテンツ部分stert */
.fv {
width: 100%;
margin: 0 0 10% 0; 
height:auto;
}
.fv-txt {
top: 34%;
width: 50%;
height: 18%;
}
.fv h1 {
font-size: 40px;
letter-spacing:0;
padding-top: 7%;
padding-left: 16%;
}
.main-contents {
margin-bottom: 0;
}
.main-description {
width: 80%;
justify-content: space-between;
margin:0 auto 5%;
}
.description-img {
text-align: left;
margin: 0;
}
.description-img img {
width: 65%;
height: auto;
}
.main-description-text {
width: 65%;
margin-left: 0;
padding-top: 0;
line-height: 1.7;
font-size:14px;
}
.sub-title {
    margin-bottom: 5%;
    letter-spacing: 1px;
    
}
.proposal{
    width: 90%;
}
.style {
margin-bottom: 5%;
}
.style img {
width: 90%;
height: auto;
}
.news-area {
width: 100%;
margin: 0 auto;
}
.news-txt-1 {
font-size: 22px;
margin-bottom: 10%;
}
.news-txt-2 {
font-size:14px;
letter-spacing:0;
margin-bottom: 5%;
}
.news-img {
width: 90%;
margin:0 auto 5%;
}
.news-img img {
width:90%;
max-width: 300px;
height: auto;
}
/* コンテンツ部分end */
/* お問い合わせフォームstart */
.contact{
margin-bottom: 2%;
}
.form p {
margin-bottom: 2%;
}
.form input {
width: 100%;
max-width: 463px;
}
.form textarea {
width: 100%;
max-width: 463px;
}
/* お問い合わせフォームend */
/* footer-start */
.footer {
height: 10%;
}
.footer-nav{
width: 90%;
max-width: 834px;
padding:5% 0;
}
.copy-right{
font-size: 5px;
}
/* footer-end */
}
@media screen and (max-width: 640px) {
    img{
        width: 100%;
        max-width: 100%;
    }
    .wrap {
    max-width: 640px;
    }
    .pc {
    display: none;
    }
    .sp{
        display: block;
    }
    /* header-start */
    .header {
    width: 100%;
    }
    .header-nav {
    display: block;
    margin: 0;
    padding:0;
    }
    .header-menu {
    margin:0;
    display:block;
    }
    .news {
    margin-left:0;
    }
    .qa {
    margin-left:0;
    }
    /* header-end */
    /* コンテンツ部分stert */
    .fv {
    max-width:100%;
    height:auto;
    margin: 0;
    position: relative;
    }
    .fv-img img {
    width: 100%;
    }
    .fv-txt {
    position: absolute;
    top:0;
    background-color: #FFFFFF;
    opacity: 0.8;
    width:0;
    height:0;
    }
    .fv h1 {
    font-size: 10px;
    text-align: left;
    letter-spacing:0;
    color: #918F89;
    opacity: 1;
    padding-top:0;
    padding-left:0;
    }
    .main-contents {
    margin-bottom:0;
    }
    .main-description {
    display: block;
    align-items: center;
    margin-bottom: 0;
    }
    .description-img {
    margin-left:0;
    }
    .description-img img {
    width:90%;
    height:auto;
    }
    .main-description-text {
    text-align: left;
    margin-left:0;
    padding-top:0;
    line-height:1;
    color: #3B3B3B;
    opacity: 1;
    font-size: 12px;
    }
    .sub-title {
    font-size: 25px;
    letter-spacing:0;
    color: rgb(73, 70, 70);
    }
    .style {
    margin-bottom:0;
    }
    .style img {
    max-width:100%;
    height:auto;
    }
    .news-area {
    width:0;
    margin:0;
    }
    .news-txt-1 {
    font-size: 25px;
    margin-bottom:0;
    color: #3B3B3B;
    }
    .news-txt-2 {
    font-size: 21px;
    letter-spacing:0;
    color: #3B3B3B;
    }
    .news-img {
    display:block;
    justify-content: space-between;
    margin-bottom:0;
    }
    .news-img img {
    max-width: 100px;
    height:auto;
    }
    /* コンテンツ部分end */
    /* お問い合わせフォームstart */
    .form p {
    margin-bottom:0;
    }
    .form input {
    width:0;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    width:100px;
    height: 10px;
    }
    .form input::placeholder {
    padding-left: 0;
    color: #3B3B3B;
    opacity: 0.4;
    }
    .form textarea {
        width:100px;
        height: 10px;
    border: 0.5px solid #707070;
    border-radius: 11px;
    opacity: 0.6;
    resize: none;
    }
    .form textarea::placeholder {
    padding: 8px 10px 8px;
    color: #3B3B3B;
    opacity: 0.4;
    }
    .btn {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73);
    width: 111px;
    height: 35px;
    background: #707070 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 25px;
    border: none;
    }
    /* お問い合わせフォームend */
    /* footer-start */
    .footer {
    background-color:#918F89;
    color: rgb(255, 255, 255);
    height:5%;
    }
    .footer-nav{
    width:100px;
    padding:10px;
    margin:auto;
    display:block;
    justify-content: space-between;
    align-items: flex-end;
    font-size:12px;
    }
    .footer-menu{
    display:block;
    }
    .footer-menu li{
    padding:0;
    font-size: 18px;
    }
    .copy-right{
    color:rgb(255, 255, 255);
    font-size: 10px;
    }
    /* footer-end */